html, body{
    margin:0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: "Roboto Thin", sans-serif;
}
.firstPage{
    height: 100vh;
    background-image:linear-gradient(black, white), url("../images/HERO.jpg");
    background-position: center;
    background-repeat: no-repeat;

    background-blend-mode: saturation;

}

.header{
    height: 20%;
}

.punchline{
    height: 80%;
}
.height{
    height: 200px;
}

.blue, .twitter{
    background-image: url("../images/fondservices.png");
}
.portfolio, .blue, .default, .twitter{
    padding-left: 8em;
    padding-right: 8em;
}



